@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Roboto&display=swap');

:root {
    --bs-font-headings: 'Montserrat', sans-serif;
    --bs-font-paragraph: 'Roboto', sans-serif; 
  }

 

 h1, h2, h3, h4, h5, h6 {
    font-family: var(--bs-font-headings);
 }


 p{
    font-family: var(--bs-font-paragraph);
 }

 .hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/gshero.jpg");
    width: 100%;
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }
 .hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(252, 250, 250); 
    padding: 3rem;
    
  }
  .hero-text h1 h2{
    font-family: 'Montserrat', sans-serif;
  }

 section { 
    margin-bottom: 8rem;
}

 .title{
     text-align: center;
     margin: 3rem 0;
     font-family: 'Montserrat', sans-serif;
     text-transform: uppercase;
 }
 .team-img{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 60%;
     border-radius: 50%;
 }
 
 .about-text{
     padding-top: 1rem;
 }

 .banking-text{
    text-align: left;
 }

 .divider{
     margin: 5rem 0;
 }

 footer{
    position: relative;
    bottom: 0;
    width:100%;
    background-color: darkgray;
    padding: 3rem 0;
 }
