
<section id="contact">

  <div class="container col-sm-12">
    <h1 class="title">CONTACT</h1>
    
     <div class="row">

      <div class="col-lg-4"> 
        <h5 class="sub-title">{{ .Site.Params.form.contacttitle }} </h5>
        <h6 class="contact-text"><ion-icon name="call-outline" class="contact-icon"></ion-icon> &emsp; {{ .Site.Params.form.phone }} </h6>
        <h6 class="contact-text" ><ion-icon name="logo-whatsapp" class="contact-icon"></ion-icon> &emsp; {{ .Site.Params.form.whatsapp }} </h6>
        <h6 class="contact-text"> <ion-icon name="mail-open-outline" class="contact-icon"></ion-icon> &emsp; {{ .Site.Params.form.email }} </h6> 
         
      </div>
 

      <div class="col-lg-4">
        <h5 class="sub-title">{{ .Site.Params.banking.banktitle }} </h5>
        <p class="banking-text"> 
          <small class="text-muted">Account Holder Name:</small>
            {{ .Site.Params.banking.accountname }} <br>
            <small class="text-muted">Bank Account No:</small> 
            {{ .Site.Params.banking.accountnumber }} <br>
            <small class="text-muted">IFSC Code:</small> 
            {{ .Site.Params.banking.ifsc}} <br>
            <small class="text-muted">Swift Code:</small> 
            {{ .Site.Params.banking.swift}} <br>
            <small class="text-muted">Bank Name:</small> 
            {{ .Site.Params.banking.bank }} <br>
            <small class="text-muted">Branch:</small> 
            {{ .Site.Params.banking.branch }} </p> 
      </div>


      <div class="col-lg-4"> 
        <h5 class="sub-title">{{ .Site.Params.form.formtitle }} </h5>
        <form class="row gx-3 gy-3 align-items-center" name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
          <input type="hidden" name="subject" value="date" />
          <p class="hidden" style="display: none;">
            <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
          </p>
          <div class="col-sm-6">
            <label class="visually-hidden" for="specificSizeInputName">Name</label>
            <input type="text" name="name" class="form-control" id="specificSizeInputName" placeholder="Name">
          </div>
          <div class="col-sm-6">
            <label class="visually-hidden" for="specificSizeInputGroupUsername">Email</label>
            <div class="input-group"> 
              <input type="text"  name="email" class="form-control" id="specificSizeInputGroupEmail" placeholder="Email">
            </div>
          </div>
          <div class="input-group">     
            <textarea class="form-control" name="message" aria-label="With textarea" id="specificSizeInputGroupMessage" placeholder="Your Message"></textarea>
          </div>
         
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">{{ .Site.Params.form.button }} </button>
          </div>
        </form>
      </div>
    
    
  </div>
  </div>

</section>
