
<section id="gallery">
    <div class="container">
        <h1 class="title">Gallery</h1>
    <div class="container">
        <div class="row">
            {{ range .Site.Data.gallery.gallery }}
            <div class="col-md-3 mb-4">
             <a href="{{ .thumb }}" data-lightbox="gallery" data-title="{{ .alt }}" style="height: 250px;">
                <img class="example-image" src="{{ .img }}" alt="{{ .alt }}" style="width:100%; height: 250px;" />
            </a> 
            </div>
            {{ end }}
        </div>
         </div>
    </div>
</section>    
<hr class="divider">
