  <!--   --> 
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../images/ggsslogo.svg" alt="" width="50" height="50" class="d-inline-block align-top">
      </a>
       
      <button class="navbar-toggler" type="button" 
              data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
              aria-controls="navbarNavAltMarkup" aria-expanded="true" 
              aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav text-center">
          <a class="nav-link active" aria-current="page" href="#">HOME</a> 
          <a class="nav-link" href="#gallery">GALLERY</a>
          <a class="nav-link" href="#team">TEAM</a>
          <a class="nav-link" href="#contact">CONTACT</a> 
          
        </div>
      </div>
    </div>
   
  </nav>